#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+
#
# host-backup-status
#
#  Check the status of host backups on remote storage.
#
{{ hm_backupped__cron_backup_status }} root /root/host-backup-status.sh mail
